.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.searchAndCard {
  text-align: center;
  background: rgb(75, 142, 213);
}

.mapCard {
  padding: auto;
}

.holder {
  align-items: center;
}

.search {
  background-color: rgb(50, 107, 169);
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}

.submit {
  margin: 10px;
}

.map {
  background-color: green;
  align-items: center;
}